name: Build

on:
  push:
    branches:
      - rc
      - main
      
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        
      - name: Restore Packages
        run: dotnet restore
        
      - name: Build
        run: dotnet build --configuration ${{ github.ref == 'rc' && 'Debug' || 'Release' }} --no-restore
  pack:
    name: Create Package
    runs-on: ubuntu-latest
    needs: build
    outputs:
      version: ${{ steps.version-checker.outputs.version }}
    steps:
    
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Version Checker
        uses: ./.github/actions/version-checker
        id: version-checker
        
      - name: Pack Release
        if: ${{ github.ref == 'main' }}
        run: |
          dotnet pack --no-build --no-restore \
          --output package \
          --configuration Release \
        
      - name: Create Timestamp
        if: ${{ github.ref == 'rc' }}
        id: timestamp
        run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT
        
      - name: Pack RC
        if: ${{ github.ref == 'rc' }}
        run: | 
          dotnet pack --no-build --no-restore \
          --output package \
          --configuration Debug \
          --version-suffix ${{ github.timestamp.outputs.timestamp }}-rc \
        
      - name: Push Release
        if: ${{ github.ref == 'main' }}
        run: |
          dotnet nuget push \
          package/${{ secrets.PROJECT_NAMESPACE }}.${{ github.version-checker.outputs.version }}.nupkg \
          --api-key ${{ secrets.NUGET_API_KEY }} \

      - name: Push RC
        if: ${{ github.ref == 'rc' }}
        run: |
          dotnet nuget push \
          package/${{ secrets.PROJECT_NAMESPACE }}.${{ github.version-checker.outputs.version }}.${{ github.timestamp.outputs.timestamp }}-rc.nupkg \
          --api-key ${{ secrets.NUGET_API_KEY }}

  release:
    name: Create Release & Tag
    runs-on: ubuntu-latest
    needs: pack
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        
      - uses: ./.github/actions/release-creator
        with:
          version: ${{ needs.pack.outputs.version }}
          branch: ${{ github.ref }}
          github-token: ${{ github.token }}
        

